@font-face {
    font-family: 'BinggraeTaom';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/BinggraeTaom/BinggraeTaomRegular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/BinggraeTaom/BinggraeTaomRegular.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/BinggraeTaom/BinggraeTaomRegular.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/BinggraeTaom/BinggraeTaomRegular.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/BinggraeTaom/BinggraeTaomRegular.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'BinggraeTaom';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/BinggraeTaom/BinggraeTaomBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/BinggraeTaom/BinggraeTaomBold.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/BinggraeTaom/BinggraeTaomBold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/BinggraeTaom/BinggraeTaomBold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/BinggraeTaom/BinggraeTaomBold.ttf') format("truetype");
    font-display: swap;
} 